/******************
YOUR STYLES
*****************/
<style>
@import url('https://fonts.googleapis.com/css?family=Lobster');
</style>


article {
    background: grey;
    margin: 0 auto;
    padding: 3em;
}

h1 {
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
}


/*first frame*/

.char1,
.char9,
.char11
{
    background: blue;
    box-shadow: inset 0 0 8px #fff;
    border-bottom: 20px solid light-blue;
    padding: .25em;
    display: inline-block;
    transition: transform .5s;
}


/*last frame*/

.char1:hover {
    transform: rotate(-5deg) scale();
}

.char8:hover {
    transform: rotate(15deg)scale();
}

.char10:hover {
    transform: rotate(10deg) scale();
}

/*keyfram animation*/
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

article img:hover{
    animation: rubberband 1s infinite;
}
/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}
